$transition-color: #aa4fff;

@import '../node_modules/bulma/bulma.sass';

body { 
    padding: 0;
    margin: 0;
}

.transition {
    position: fixed;
    left: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 10;
    pointer-events: none;
    
    & span {
        position: relative;    
        background: $transition-color;
        height: 0%;
        width: 100%;
    }
}